.home {
  min-height: 100vh;
  background-color: #0A1929;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.maps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.map-card {
  width: 90%;
  height: 25vh;
}
